<% title("Show Employees") %>
<div class="body">
  <p id="notice"><%= notice %></p>
<p>
  <strong>Employeeid:</strong>
  <%= @employee.employeeID %>
</p>

<p>
  <strong>Firstname:</strong>
  <%= @employee.FirstName %>
</p>

<p>
  <strong>Lastname:</strong>
  <%= @employee.LastName %>
</p>

<p>
  <strong>Address:</strong>
  <%= @employee.Address %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @employee.Phone %>
</p>

<p>
  <strong>Email:</strong>
  <%= @employee.Email %>
</p>

<p>
  <strong>Qualifications:</strong>
  <%= @employee.Qualifications %>
</p>

<p>
  <strong>Details:</strong>
  <%= @employee.details %>
</p>

<%= link_to 'Edit', edit_employee_path(@employee) %> |
<%= link_to 'Back', employees_path %>
</div>
