<%= form_for(@payroll) do |f| %>
  <% if @payroll.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@payroll.errors.count, "error") %> prohibited this payroll from being saved:</h2>

      <ul>
      <% @payroll.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    Employee ID<br>
    <%= f.collection_select :employee_id, Employee.all, :id, :employeeID %>
  </div>
    <div class="field">
    Department<br>
    <%= f.collection_select :department_id, Department.all, :id, :departmentName %>
  </div>
  <div class="field">
    Employee Type<br>
    <%= f.collection_select :employee_type_id, EmployeeType.all, :id, :typeName %>
  </div>
  <div class="field">
    Pay Date<br>
    <%= f.date_select :payDate %>
  </div>
  <div class="field">
    Hourly Rate<br>
    $<%= f.text_field :hourlyRate %>
  </div>
  <div class="field">
    Hours<br>
    <%= f.number_field :normalHours %>
  </div>
  <div class="field">
    Allowances<br>
    <%= f.text_field :allowances %>
  </div>
  <div class="field">
    Deductions<br>
    <%= f.text_field :deductions %>
  </div>
  <div class="field">
    Net Pay<br>
    <%= f.number_field :netPay %>
  </div>
  <div class="field">
    Status<br>
    <%= f.select :status, options_for_select([['Active','Active'],['Suspended','Suspended'],['Other','Other']], :selected => params[:status]), {} %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
