
<% title("Listing Payrolls") %>
<div class="body">
  <p id="notice"><%= notice %></p>
<table>
  <thead>
    <tr>
      <th>Paydate</th>
      <th>Hourlyrate</th>
      <th>Normalhours</th>
      <th>Allowances</th>
      <th>Deductions</th>
      <th>Netpay</th>
      <th>Status</th>
      <th>Employee</th>
      <th>Department</th>
      <th>Employee type</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @payrolls.each do |payroll| %>
      <tr>
        <td><%= payroll.payDate %></td>
        <td><%= payroll.hourlyRate %></td>
        <td><%= payroll.normalHours %></td>
        <td><%= payroll.allowances %></td>
        <td><%= payroll.deductions %></td>
        <td><%= payroll.netPay %></td>
        <td><%= payroll.status %></td>
        <td><%= payroll.employee_id %></td>
        <td><%= payroll.department.departmentCode %></td>
        <td><%= payroll.employee_type.typeCode %></td>
        <td><%= link_to 'Show', payroll %></td>
        <td><%= link_to 'Edit', edit_payroll_path(payroll) %></td>
        <td><%= link_to 'Destroy', payroll, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Payroll', new_payroll_path %>
</div>
