<% title("Show Payrolls") %>
<div class="body">
  <p id="notice"><%= notice %></p>
<p>
  <strong>Pay Date:</strong>
  <%= @payroll.payDate %>
</p>

<p>
  <strong>Hourly Rate:</strong>
  <%= @payroll.hourlyRate %>
</p>

<p>
  <strong>Hours:</strong>
  <%= @payroll.normalHours %>
</p>

<p>
  <strong>Allowances:</strong>
  <%= @payroll.allowances %>
</p>

<p>
  <strong>Deductions:</strong>
  <%= @payroll.deductions %>
</p>

<p>
  <strong>Net Pay:</strong>
  <%= @payroll.netPay %>
</p>

<p>
  <strong>Status:</strong>
  <%= @payroll.status %>
</p>

<p>
  <strong>Employee ID:</strong>
  <%= @payroll.employee_id %> 
</p>

<p>
  <strong>Employee Name:</strong>
  <%= @payroll.employee.FirstName %> <%= @payroll.employee.LastName %>
  </p>

<p>
  <strong>Department:</strong>
  <%= @payroll.department.departmentName%>
</p>

<p>
  <strong>Employee Type:</strong>
  <%= @payroll.employee_type.typeName %>
</p>
<%= link_to 'Home', root_path %>
<%= link_to 'Edit', edit_payroll_path(@payroll) %> |
<%= link_to 'Back', payrolls_path %>
</div>
