<% title("Show Department") %>
<div class="body">
	<p id="notice"><%= notice %></p>
<p>
  <strong>Departmentcode:</strong>
  <%= @department.departmentCode %>
</p>

<p>
  <strong>Departmentname:</strong>
  <%= @department.departmentName %>
</p>

<%= link_to 'Edit', edit_department_path(@department) %> |
<%= link_to 'Back', departments_path %>
</div>
