 <img src="/assets/images/bentTech.png" alt="logo" align="right">
 <h1 >Durham Automobile Company</h1>

<p><%= link_to 'Members', controller: 'members' %></p>
<p><%= link_to 'Project Description', controller: 'description' %></p>
<p><%= link_to 'Employees', controller: 'employees' %></p>
<p><%= link_to 'Departments', controller: 'departments' %></p>
<p><%= link_to 'Employee Types', controller: 'employee_types' %></p>
<p><%= link_to 'Payrolls', controller: 'payrolls' %></p>

