<!DOCTYPE html>
<html>
<head>
  <title>RailsGroup2</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="header">
 	<img  id="logo" src="/assets/images/bentTech.png" alt="logo">
 	<h1><%= content_for(:title) %></h1>
</div>
<%= yield %>

</body>
</html>
